html {
    scroll-behavior: smooth; 
    }   
.subtitle{
    font-weight: bold;
}
    .programming-languages i{ 
        font-size: 7em;
    }
body{
    background-image: linear-gradient(to right top, #74f0ea, #00dfff, #00c5ff, #9d9bff, #f45be0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mi-container{
    margin-top: 40px;
}
